# Virtual Environment (Never upload this!)
venv/
.venv/
env/

# Python compiled files
__pycache__/
*.py[cod]

# Database (Keep your local data local)
db.sqlite3

# Environment variables / Secrets
.env
local_settings.py

# Static & Media (Uploaded files)
/static/
/media/

# OS/IDE specific
.vscode/
.idea/
.DS_Store